/*Стилізація верхнього меню секції HEADER*/
/*Обнуление отступов*/
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,ol{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

img{
    display: block;
}
/*Обнуление отступов*/
.container
{
    width: 1200px;
    margin: 0 auto;
}

/*header*/
.header-container
{
    display: flex;
    align-items: center;
}
.navigation
{
    display: flex;
    align-items: center;
}
.menu
{
    display: flex;
    align-items: center;
}
.adress
{
    display: flex;
    align-items: center;
}

.logo
{
    margin-right: 93px;
}
.list-menu:not(:last-child)
{
    margin-right: 50px;
}

.list-adress
{
    list-style: none; /*прибирає точки в списку*/
    margin-right: auto;
}
.mail-link
{
    margin-left: 331px;
}
.tel-link
{
    margin-left: 50px;
}
/*Логотип WebStudio*/
.logo{
    font-family: Raleway; 
    font-style: normal; 
    font-weight: bold; s
    font-size: 26px; 
    line-height: 31px;

/* identical to box height */ 
    letter-spacing: 0.03em;
    color: #2196F3;
    text-decoration: none
    text-shadow: 0 4 4
    rgba(0,0.0,0.25);
    text-decoration: none /*прибирає підкреслення*/
    }
.logo-web
{
    color:#2196f3
}
.logo-s
{
    color:black
}
/*Стилізація блокім меню: Студія,Потфоліо...*/
.menu-link{
    font-family: Roboto; 
    font-style: normal; 
    font-weight: 500; 
    font-size: 14px; 
    line-height: 1.14; 
    letter-spacing: 0.02em;
    
    color: #212121;
    text-decoration: none
}
.menu-link:hover,
.menu-link:focus
{
    color: #2196f3
}

.menu-link.current
{
    color: #2196f3
}

/*Стилізація блоків меню тел, майл*/
.mail-link{
    font-family: Roboto; 
    font-style: normal; 
    font-weight: 500; 
    font-size: 14px; 
    line-height: 1.14; 
    letter-spacing: 0.02em;
    
    color: #757575;
    text-decoration: none
}
.tel-link
{
    font-family: Roboto; 
    font-style: normal; 
    font-weight: 500; 
    font-size: 14px; 
    line-height: 1.14; 
    letter-spacing: 0.02em;
    color: #757575;
    text-decoration: none
}
.mail-link:hover,
.mail-link:focus
{
    color: #2196f3
}
.tel-link:hover,
.tel-link:focus
{
    color: #2196f3
}


/*Стилізація секції HERO*/
.section-hero
{
    background: #2f303a;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
}
.hero-z
{
    align-items: center;
    width: 696px;
    margin-left: 245px;
    margin-bottom: 30px;

}
.hero-z
{
    font-family: Roboto; 
    font-style: normal; 
    font-weight: 900; 
    font-size: 44px; 
    line-height: 1.36;
    color: #FFFFFF;
} 

.modal-btn 
{
 background: #188ce8;  
 border-radius:4px ; 
 padding: 10px 32px;
 font-family: Roboto; 
 font-style: normal; 
 font-weight: bold; 
 font-size: 16px; 
 line-height: 30px;
 /* identical to box height, 187% */
 align-items: center; 
 text-align: center; 
 letter-spacing: 0.06em;
 border-radius:4px ;
 color: #FFFFFF;
 cursor: pointer; 
}

/*Стилізація секцій */
/*Секція особенності Section-1*/
.section
{
    padding-top: 94px;
    padding-bottom: 94px;
}
.features-container
{
    display: flex;
    align-items: center;
}
.features-menu
{
    display: flex;
    align-items: center;
}
/*.list{
    width: 270px;
}
.list:not(:last-child)
{
    margin-right: 30px;
}

*/
.hero-list
{
    font-family: Roboto; 
    font-style: normal; 
    font-weight: bold; 
    font-size: 14px; 
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
}

.hero-list-item
{
    font-family: Roboto; 
    font-style: normal; 
    font-weight: normal; 
    font-size: 14px; 
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
}

/*Секція чим займаємося Section-2*/
.section-work
{
    font-family: Roboto; 
    font-style: normal; 
    font-weight: bold; 
    font-size: 36px; 
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 50px;
    text-align: center;
}

.work-section
{
    display: flex;
    align-items: center;
}
.list1:not(:last-child)
{
    margin-right: 30px;
    list-style: none;
}

/*Секція наша команда Section-3*/
.section3
{
    background: #f5f4fa;

}
.team-work
{
    display: flex;
    align-items: center;
}
.section-our-team
{
    font-family: Roboto; 
    font-style: normal; 
    font-weight: 500; 
    font-size: 16px; 
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: center;
    color: #212121;
    margin-top: 30px;
    margin-bottom: 10px;
}
.section-profession
{
    
    font-family: Roboto; 
    font-style: normal; 
    font-weight: normal; 
    font-size: 16px; 
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: center;
    color: #757575;
}
/*Стилізація секяції footer*/

.footer
{
    background: #2F303A;
    padding-top: 60px;
    right: 252px;
}
/*.footer-container
{
    width: 1200px;
    right: 252px;
}*/

.logo-footer
{
    font-family: Raleway; 
    font-style: normal; 
    font-weight: bold; s
    font-size: 26px; 
    line-height: 1.19;
/* identical to box height */ 
    letter-spacing: 0.03em;
    color: #2196F3;
    text-decoration: none
    text-shadow: 0 4 4
    rgba(0,0.0,0.25);
    text-decoration: none /*прибирає підкреслення*/ 
}
.logo-footer-web
{
    color:#2196f3
}
.logo-footer-s
{
    color:white
}
.adress-list
{
    padding-top:  20px;
    padding-bottom: 60px;
}
.footer-adres-1
{
    font-family: Roboto; 
    font-style: normal; 
    font-weight: normal; 
    font-size: 14px; 
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    text-decoration: none;
}
.footer-adres-2
{
    font-family: Roboto; 
    font-style: normal; 
    font-weight: normal; 
    font-size: 14px; 
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;  
}

.list:not(:last-child)
{
    margin-bottom: 9px;
    margin-left: 8px;
}




/*portfolio.html*/
/*Стилізація та сторінки portfolio*/

.modal-btn-portfolio
{
    font-family: Roboto; 
    font-style: normal; 
    font-weight: 500; 
    font-size: 14px; 
    line-height: 1.63;
    letter-spacing: 0.03em;
    color: #212121;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}   
.modal-btn-portfolio:hover,
.modal-btn-portfolio:focus
{
    color: #FFFFFF;
    background: #2196f3;
}

.portfolio-list
{ 
    margin-top: 20px;
    margin-left: 24px;
    margin-right: 24px;
    font-family: Roboto; 
    font-style: normal; 
    font-weight: bold; 
    font-size: 18px; 
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;
}
.portfolio-list-item
{   
    margin-top: 4px;
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 24px;
    font-family: Roboto; 
    font-style: normal; 
    font-weight: normal; 
    font-size: 16px; 
    line-height: 1.85;
    letter-spacing: 0.06em;
    color: #757575;
}
.list
{
    list-style: none; /*прибирає точки в списку*/
}

.porfolio-menu
{
    display: flex;
    align-items: center;
    justify-content: center;/*робить контент по центру*/
}
.list-portfolio-menu
{
    margin-top: 94px;
    margin-bottom: 34px;
    margin-left: 8px;
}
.portfolio-content
{   
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 94px;
}
.portfolio-list-content
{   
    margin-right: 30px;
    margin-bottom: 30px;
}
.border-portfolio
{
    border: 1px solid;
    border-color: #eeeeee;    

}